.home {
    border: 1px solid black;
    background-color: rgb(235, 235, 235);
    box-sizing: border-box;
    .section-product {
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                text-decoration: none;
                color: black;
                &:hover {
                    color: #f45c43;
                }
            }
            .title {
                font-size: 2.3rem;
                border-bottom: 2px solid rgb(78, 78, 78);
            }

            .more {
                font-size: 1.3rem;
                display: flex;
                align-items: center;
                span {
                    padding-right: 12px;
                }
            }
        }
        .product-list {
            padding: 16px 0;
        }
    }
}

.card {
    min-height: 100px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 8px;
    position: relative;
}

.tag {
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #f45c43;
    display: inline-block;
    padding: 4px 8px;
    position: absolute;
    top: 8px;
    left: 8px;
}
