@import 'normalize.css';

:root {
    --primary-color: #04aa6d;
    --secondary-color: #000000;
    --notice: #f44336;
    --text-color-w: white;
    --text-color-b: black;
    --pagination-button-bg: #ffc800;
}

#root {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* font-family: 'Average Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1000px;
    margin: auto;
}

html {
    font-size: 70%;
}

body {
    font-size: 1.6rem;
    margin: 0;
    line-height: 1.5;
}

.page-active {
    background-color: var(--pagination-button-bg) !important;
    color: var(--text-color-w) !important;
}

.active {
    color: var(--notice) !important;
}
