.d-block {
    display: block !important;
}

.mh-0 {
    min-height: 0 !important;
}

.active {
    color: #f45c43 !important;
}

.user-profile {
    box-sizing: border-box;
    ul {
        list-style: none;
    }
    padding: 20px 0;
    .title {
        font-size: 2rem;
        font-weight: normal;
        text-transform: uppercase;
        padding: 10px 0;
    }
    .nav-box {
        .top {
            .welcome {
                font-size: 1.5rem;
                .name {
                    color: #f45c43;
                }
            }
        }
        .list-link {
            padding: 8px 0;
            font-size: 1.5rem;
            li {
                padding: 8px 0;
                a {
                    text-decoration: none;
                    color: black;
                    &:hover {
                        color: #f45c43;
                    }
                }
            }
        }
    }
    .info-box {
        .content {
            padding: 0;
            font-size: 1.5rem;
            .list-info {
                padding: 0;
                li {
                    display: flex;
                    padding: 1rem 0;
                    span {
                        display: inline-block;
                    }
                    .label {
                        font-size: 1.5rem;
                        font-weight: bold;
                        text-transform: capitalize;
                        min-width: 150px;
                        height: 100%;
                    }
                    .info {
                    }
                }
            }
        }
    }
}
