.admin_content{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contain_box{
    background-color: rgb(210, 210, 210);
    border-radius: 10px;
    width: 500px;
    min-width: 400;
    min-height: 300px;
    margin: 20px;
    padding: 50px 80px 50px 80px;
}
.contain_title{
    display: flex;
    justify-content: center;
}
.contain_title label{
    font-size: 24px;
    font-weight: 600;
}
.box_item a{
    text-decoration: none;
    color: black;
}
.box_item{
    font-size: 18px;
}