.row {
    padding-top: 20px;
}
.containCoppyRight {
    background-color: black;
    display: flex;
    justify-content: center;
}
.containfooterContent {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
}
.footerContent {
    width: 80%;
}
.coppyRight {
    display: flex;
    justify-content: space-between;
    min-width: 80%;
    color: white;
    font-size: 18px;
}
.footerIcon {
    width: 200px;
    height: 150px;
}
.footerCol ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footerTitle {
    font-size: 16px;
    font-weight: 600;
}
.footerCol ul li {
    font-size: 14px;
}
